@import url(./normilize.css);
@import url(./fonts.css);

* {
	box-sizing: border-box;
}

a:focus {
	outline: none;
}

html, body {
	width: 100%;
	display: flex;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0;
	padding: 0 130px;
	width: 1440px;
	height: 100%;
	position: relative;
	z-index: 0;
	background-color: #f4f4f7;
}

.headlines {
	font-size: 60px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.08;
	letter-spacing: -0.75px;
	color: #2d2d42;
}

.caption {
	font-size: 13px;
	font-weight: 900;
	line-height: 1.54;
	letter-spacing: 1.73px;
	color: #2d2d42;
	text-transform: uppercase;
}

.header {
	padding: 40px;
	height: 120px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.main {
	width: 100%;
	height: auto;
	padding-top: 122px;
	margin-top: -120px;
}

.logo {
	width: 40px;
	height: 40px;
	display: block;
	margin-right: 120px ;
}

.nav {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 170px;
}

.nav__wrapper {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.nav__item {
	margin-right: 50px;
}

.nav__link {
	font-size: 15px;
	line-height: 1.33;
	letter-spacing: normal;
}

.language {
	height: 100%;
	display: flex;
}

.language__link {
	display: inline-block;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 15px;
	text-decoration: none;
	color: #f4f4f7;
}

.language__link:not(:last-child) {
	margin-right: 13px;
}

.language__link--active {
	border-color: rgb(255, 255, 255, .2);
}

.intro {
	position: relative;
	margin-bottom: 100px;
}

.intro__image {
	height: 680px;
	width: 100%;
	position: absolute;
	top: -120px;
	z-index: -1;
}

.intro__image::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.intro__wrapper {
	margin: 0;
	margin-bottom: 78px;
	padding: 52px 200px 0;
	width: 100%;
	height: auto;
	color: #f4f4f7;
}

.intro__heading {
	margin: 0;
	color: inherit;
	margin-bottom: 30px;
}

.intro__description {
	margin: 0;
	padding-right: 110px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
}

.button--transparent {
	border: solid 1px rgba(255, 255, 255, 0.1);
	background-color: transparent;
}

.button {
	margin: 0;
	padding: 24px 200px;
	min-width: 580px;
	position: relative;
	display: inline-flex;
	align-items: center;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	color: #f4f4f7;
	text-decoration: none;
}

.button__icon {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
}

.advantages {
	width: 100%;
	height: auto;
	padding: 90px 200px 117px;
	background-color: white;
	margin-bottom: 100px;
}


.advantages__heading {
	margin: 0px;
	margin-bottom: 30px;
}

.advantages__description {
	margin: 0;
	color: #2d2d42;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	margin-bottom: 85px;
}

.advantages__items {
	margin: 0;
	padding: 0;
	margin-bottom: 70px;
	width: 120%;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.advantages__item {
	position: relative;
	width: 240px;
	padding: 0;
	margin-right: 60px;
}

.background_icon {
	margin-bottom: 30px;
	position: relative;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	z-index: 0;
}

.background_icon--blue {
	background: #63c9e0;
}

.background_icon--orange {
	background: #f47e3d;
}

.background_icon--pink {
	background: #d04b9b;
}

.advantages__text {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.icon_project {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
}

.icon_hire {
	position: absolute;
	top: 17px;
	left: 37px;
	margin: 0;
	padding: 0;
}

.icon_digital {
	position: absolute;
	top: 19px;
	left: 17px;
	margin: 0;
	padding: 0;
}

.services__heading {
	margin: 0;
	margin-bottom: 75px;
	color: #c0c6c8;
}

.services__list {
	margin: 0;
	margin-left: -30px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 910px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	color: #2d2d42;
	list-style-type: none;
}

.services__item {
	width: 410px;
	margin-bottom: 25px;
	padding-left: 30px;
	position: relative;
}

.services__item::before {
	content: "";
	position: absolute;
	top: 15px;
	left: -30px;
	height: 1px;
	width: 30px;
	background-color: #64cae1;
}

.work__info {
	padding-left: 200px;
	margin-bottom: 60px;
}

.work__heading {
	margin: 0;
	margin-bottom: 25px;
}

.work_description {
	margin: 0;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
}

.work__list {
	padding: 0;
	width: calc(100% + 20px);
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.work__item {
	list-style: none;
	width: calc(50% - 20px);
	margin: 0 10px 71px;

}

.work__item--highlighted {
	position: relative;
	width: 100%;
	z-index: 0;
	margin-bottom: 16px;
	padding-top: 30px;
}

.work__link {
	text-decoration: none;
}

.work__img-background {
	width: 380px;
	height: 380px;
	padding: 40px;
	z-index: 2;
}

.work__img-background--blue {
	position: absolute;
	top: 230px;
	left: 200px;
	background: #64cae1;
	color: #f4f4f7;
}

.caption_birdieeyes {
	padding-bottom: 40px;
	margin: 0;
	text-transform: uppercase;
	color: inherit;
}

.caption_ourteam {
	padding-bottom: 50px;
	margin: 0;
	text-transform: uppercase;
	color: inherit;
}

.ourteam_description, .birdieeyes_description {
	margin: 0;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	color: inherit;
}

.work__caption {
	margin: 0;
    padding-top: 35px;
	margin-bottom: 30px;
}

.works__image--large {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.works__image-small {
    width: 580px;
    height: 100%;
    overflow: hidden;
}

.works__img {
	max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.work__description {
	margin: 0;
	width: 440px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	color: #2d2d42;
}

.work__img-background--white {
	position: absolute;
	bottom: 25px;
	right: 200px;
	background: #f4f4f7;
	color: #2d2d42;
}

.work {
	margin-bottom: 80px;
}

.inside {
	width: 100%;
	padding-left: 200px;
	margin-bottom: 75px;
}

.inside__heading {
	margin: 0;
	margin-bottom: 25px;
}

.inside__description {
	margin: 0;
	margin-bottom: 90px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
}

.realization {
	margin: 0;
	position: relative;
}

.article {
	margin: 0;
	padding-top: 40px;
	width: 400px;
	height: 380px;
	position: absolute;
	top: 220px;
	left: -200px;
	background: #f4f4f7;
}

.article__heading {
	margin: 0;
	margin-bottom: 30px;
	font-size: 13px;
	font-weight: 900;
	line-height: 1.54;
	letter-spacing: 1.73px;
	color: #2d2d42;
	text-transform: uppercase;
}

.article__description {
	margin: 0;
	margin-bottom: 55px;
	width: 340px;
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	color: #2d2d42;
}

.article__icon {
	height: 26px;
	width: 50px;
}

.tabs {
	position: absolute;
	height: 2px;
	bottom: 11px;
}

.tabs__list {
	padding: 0;
	margin: 0;
	display: flex;
	list-style: none;
	padding: 2px 0;
}

.tabs__link {
	display: block;
	width: 65px;
	margin-right: 9px;
	padding: 10px 0;
}

.tabs__indicator {
	display: block;
	width: 100%;
	height: 1px;
	background-color: #c0c6c8;
}

.tabs__indicator--active {
	background-color: #2d2d42;
}

.news {
	margin-bottom: 100px;
	width: 1080px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #2d2d42;
}

.news__heading {
	margin: 0 0 50px;
	width: 100%;
	font-size: 13px;
	font-weight: 900;
	line-height: 1.54;
	letter-spacing: 1.73px;
	text-transform: uppercase;
}

.news__list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.news__item {
	display: block;
	list-style-type: none;
}

.news__item:not(:last-child) {
	margin-right: 120px;
}

.news__link {
	display: block;
	color: inherit;
	text-decoration: none;
}

.news__description {
	margin: 0;
	margin-bottom: 20px;
	width: 280px;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: normal;
}

.news__time {
	display: block;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.33;
	color: #93a4a9;
}

.footer {
	position: relative;
	background-color: rgb(0, 0, 0);
	z-index: -1;
}

.footer__container {
	margin: 0;
	padding: 100px 0 0 200px;
	color: #f4f4f7;
}

.footer__heading {
	margin: 0;
	margin-bottom: 75px;
	color: inherit;
}

.footer__wrapper-image {
	width: 902.8px;
	position: absolute;
	top: 180px;
	left: 249px;
	z-index: -1;
}

.footer__image {
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	opacity: 0.8;
	z-index: -1;
}

.footer__mark-norway {
	position: absolute;
	top: 77px;
	left: 421px;
	width: 50px;
	height: 50px;
	background: #64cae1;
	border-radius: 50%;
	z-index: 1;
}

.footer__mark-belarus {
	position: absolute;
	top: 102px;
	left: 505px;
	width: 40px;
	height: 40px;
	background: #d04b9b;
	border-radius: 50%;
	z-index: 1;
}

.social-network {
	min-width: 140px;
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: 100px;
	right: 342px;
}

.social-network__icon {
	padding: 19px 0 16px 0;
}

.footer__description {
	margin-bottom: 90px;
	width: 380px;
	font-size: 20px;
	line-height: 1.5;
	color: #f4f4f7;
}

.contacts {
	margin-bottom: 70px;
	width: 878px;
	display: flex;
	justify-content: space-between;
	color: #f4f4f7;
}

.contacts__heading {
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.contacts__description {
	margin: 0;
	font-weight: 300;
	line-height: 1.67;
	font-size: 15px;
}

.contacts__belarus, .contacts__norway {
	margin: 0;
	width: 380px;
	color: #f4f4f7;
}

.button--blue {
	background-color: #64cae1;
}

.footer__copyright {
	position: absolute;
	bottom: 25px;
	left: 698px;
	opacity: 0.5;
	font-size: 20px;
	font-weight: 300;
	color: #f4f4f7;
}

.link {
	text-decoration: none;
	color: #f4f4f7;
	font-family: Roboto;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
}

.email {
	color: #64cae1;
}

.link:hover {
	text-decoration: underline;
}

.social-network__link:hover {
	opacity: .8;
}